MSOOrganiser/TestResults/MSOOrganiser.TE.Tests.mdf
MSOOrganiser/TestResults/MSOOrganiser.TE.Tests_log.ldf
MSOWeb/Content/
Docs not in github/
MSOOrganiser/.vs/config/applicationhost.config
MSOOrganiser/.vs/MSOOrganiser/v15/Server/sqlite3/storage.ide-wal
MSOOrganiser/.vs/MSOOrganiser/v15/Server/sqlite3/storage.ide-shm
MSOOrganiser/.vs/MSOOrganiser/v15/Server/sqlite3/storage.ide
MSOOrganiser/.vs/MSOOrganiser/v15/Server/sqlite3/db.lock
.vs/
packages/
Data/
MSOWeb/obj/
MSOOrganiser/obj/
MSOOrganiser/bin/
MSOCoreTests/obj/
MSOCoreTests/bin/
MSOCore/obj/
MSOAgent/obj/
MSOAgent/bin/
MSOCore/bin/
MSOWeb/bin/
*.user
