@{
    // Debt: https://getbootstrap.com/docs/4.1/examples/sign-in/
    ViewBag.Title = "NewPassword";
    // Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/Content/favicon.ico">

    <title>MSO Organiser: Password Reset</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="/Content/Styles/Login.css" rel="stylesheet">
</head>

<body class="text-center">
    <form method="post" action="/User/NewPasswordRequest" class="form-signin">
        <img class="mb-4" src="~/Content/Logo.png" alt="" height="144">
        <h1 class="h3 mb-3 font-weight-normal">Reset Password</h1>
        <p>Enter your user name and a link to reset your password will be emailed to you.</p>
        <label for="inputEmail" class="sr-only">Name</label>
        <input type="text" name="userName" id="inputEmail" class="form-control" placeholder="Username" required autofocus>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Reset</button>
        <p class="mt-5 mb-3 text-muted">&copy; Julia Hayward 2014-2019</p>
    </form>
</body>
</html>
