@{
    ViewBag.Title = "NewPassword";
}

<h2>NewPassword</h2>

<form method="post" action="/User/NewPasswordRequest">
    User name: <input name="userName" value="Julia" />

    Press to send email: <button type="submit">Go</button>
</form>
