@model MSOWeb.Controllers.UserController.PasswordResetVM
@{
    ViewBag.Title = "NewPassword";
}

<h2>NewPassword</h2>

<form method="post" action="/User/PasswordReset">
    <input type="hidden" name="userId" value="@Model.UserId"/>
    <input type="hidden" name="token" value="@Model.Token"/>
    New password: <input type="password" name="password" />

    <button type="submit">Go</button>
</form>
