@model MSOWeb.Controllers.UserController.PasswordResetVM
@{
    ViewBag.Title = "NewPassword";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/Content/favicon.ico">

    <title>MSO Organiser: Password Reset</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="/Content/Styles/Login.css" rel="stylesheet">
</head>

<body class="text-center">
    <form method="post" action="/User/PasswordReset" class="form-signin">
        <input type="hidden" name="userId" value="@Model.UserId" />
        <input type="hidden" name="token" value="@Model.Token" />

        <img class="mb-4" src="~/Content/Logo.png" alt="" height="144">
        <h1 class="h3 mb-3 font-weight-normal">Reset Password</h1>
        <p>Please enter your new password. There are no formal restrictions but we ask you not to use
        passwords shared from other sites, or weak ones.</p>
        <label for="inputEmail" class="sr-only">New password:</label>
        <input type="password" name="password" id="password" class="form-control" placeholder="Password" required autofocus>
        <p></p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Update my password</button>
    </form>
</body>
</html>