@model IEnumerable<MSOCore.Reports.NationalityReportGenerator.NationalityVm>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .jmhTable {
        border: 1px black solid; 
        width: 400px; 
        margin-left: 100px
    }
    .jmhTable td {
        vertical-align: middle;
    }
    .jmhPaddedHeader {
        margin: 4px;
        display: block;
    }
    .jmhPadded {
        margin: 4px;
        display: block;
    }
</style>

<h1 class="entry-title">Contestant Nationalities</h1>

<table class="jmhTable">
    <tr style="background: AliceBlue">
        <td><span class="jmhPaddedHeader">Country</span></td>
        <td><span class="jmhPaddedHeader">Male</span></td>
        <td><span class="jmhPaddedHeader">Female</span></td>
        <td><span class="jmhPaddedHeader">Total</span></td>
    </tr>
    @foreach (var item in Model)
    {    
    <tr>
        <td><span class="jmhPadded">@item.Nationality</span></td>
        <td><span class="jmhPadded">@item.Males</span></td>
        <td><span class="jmhPadded">@item.Females</span></td>
        <td><span class="jmhPadded">@item.Total</span></td>
    </tr>
    }
</table>
