@model MSOCore.Reports.TotalEventEntriesGenerator.TotalEventEntriesVm
@{
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<h1 class="entry-title">Total number of entries per event</h1>
<p>@Model.LastLoadedCaption</p>

<table class="table">
    <thead>
        <tr>
            <td>Code</td>
            <td>Name</td>
            <td>Entries</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Events)
        {
            <tr>
                <td><span>@item.Code</span></td>
                <td><span>@item.Name</span></td>
                <td><span>@item.Entrants</span></td>
            </tr>
        }
    </tbody>
</table>
