@{
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<h1>Upload from WorldPuzzle</h1>
<h2>@Model.Code: @Model.Name</h2>

@using (Html.BeginForm("UploadRussianDraughts", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="hidden" id="eventId" name="eventId" value="@Model.EventId" />
    <p>Input is expected to be a tab-separated text file from the Russian Draughts Federation. Check with Julia that the right columns will be imported.</p>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Upload</span>
        </div>
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="inputFile" name="inputFile">
            <label class="custom-file-label" for="inputFile">Choose file</label>
        </div>
    </div>

    <button class="btn btn-primary" type="submit">
        Upload
    </button>
}

