@model IEnumerable<MSOCore.Reports.EventListGenerator.EventVm>
@{
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    ViewBag.Title = "Mind Sports Olympiad - Entrants Download";
}

<h1 class="bd-title" id="content">Mind Sports Olympiad - Entrants Download</h1>

<div class="list-group">
    @foreach (var evt in Model)
    {
    <span>
        <span>@evt.Code</span> <span>@evt.Name</span>
        <span class="badge badge-primary badge-pill"><a style="color: white" href="/apiv1/swissmanagereventcontestants?eventcode=@evt.Code" download>for Swiss Manager</a></span>
        <span class="badge badge-primary badge-pill"><a style="color: white" href="/apiv1/swissperfecteventcontestants?eventcode=@evt.Code" download>for Swiss Perfect</a></span>
        <span class="badge badge-primary badge-pill"><a style="color: white" href="/apiv1/multiplayereventcontestants?eventcode=@evt.Code" download>for Mike's multiplayer spreadsheet</a></span>
    </span>
    }
</div>
