@model IEnumerable<MSOCore.Reports.GameListGenerator.GameVm>
@{
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    ViewBag.Title = "Mind Sports Olympiad Live Results";
}

<h2>Release Notes</h2>

<p>Several of the live results pages were overhauled during MSO 2018 to be 
    optimised for a wide screen display, as well as being embedded in 
    msoworld.com</p>

<p>Since MSO 2018</p>

<ul>
    <li>
        16/6/19 Total Event Entries is now available (to people with a login) on the website.
    </li>
    <li>
        25/10/18 Eurogames meta-event - events are now in database
        (replaces hacks to exclude WODU when WOOC is in, and to exclude 
        Hare&Tortoise and Acquire only in 2018)
    </li>
<li>25/10/18 Modern Abstract meta-event - events are now in database, not
    hard-coded (note that categories couldn't be used, because of Colour Chess)</li>
<li>21/10/18 Women who choose not to enter the Women's Pentamind now handled by
    database entries, not hard-coding</li>
<li>21/10/18 Database purged of late fees, observer tickets and other non-event
    "entries" from 1997-2003. The requirement for Events to have a four-letter
    code matching the relevant Game has been removed (although we will keep it
    as a convention)</li>
<li>14/10/18 Release notes added</li>
</ul>
