@model IEnumerable<MSOCore.Reports.GameListGenerator.GameVm>
@{
    if (ViewBag.Layout != null)
    { Layout = ViewBag.Layout; }
    else
    { Layout = "~/Views/Shared/_NewLayout.cshtml"; }
    ViewBag.Title = "Mind Sports Olympiad Live Results";
}

<h2>Release Notes</h2>

Functionality in the MSO Organiser application will be migrated to the web application at mso.juliahayward.com over the course of 2019-2020

<p>Since MSO 2019</p>

<ul>
    <li>23/12/2019 Downloads for SwissManager are now open to Arbiters (not that we have set any up yet)</li>
    <li>23/12/2019 Login now supports various roles defined in database</li>
    <li>6/9/2019 Medal table (by country) migrated - paper version remains for now</li>
    <li>3/9/2019 Organiser's password change function migrated.
</ul>

<p>Since MSO 2018</p>

<ul>
    <li>17/8/2019 Totals added to web list of entrants per event</li>
    <li>4/8/2019 Order processor now collects new emails and dates of birth from WooCommerce</li>
    <li>27/7/19 Quasi-ELO ratings calculated based on past Pentamind scores</li>
    <li>
        13/7/19 Organiser no longer displays msoworld.com (because of spurious security blacklisting) on startup, displays 
        release notes instead.
    </li>
    <li>
        13/7/19 Export of event entries to Swiss Perfect added.
    </li>
    <li>
        16/6/19 Total Event Entries is now available (to people with a login) on the website.
    </li>
    <li>
        25/10/18 Eurogames meta-event - events are now in database
        (replaces hacks to exclude WODU when WOOC is in, and to exclude
        Hare&Tortoise and Acquire only in 2018)
    </li>
    <li>
        25/10/18 Modern Abstract meta-event - events are now in database, not
        hard-coded (note that categories couldn't be used, because of Colour Chess)
    </li>
    <li>
        21/10/18 Women who choose not to enter the Women's Pentamind now handled by
        database entries, not hard-coding
    </li>
    <li>
        21/10/18 Database purged of late fees, observer tickets and other non-event
        "entries" from 1997-2003. The requirement for Events to have a four-letter
        code matching the relevant Game has been removed (although we will keep it
        as a convention)
    </li>
    <li>14/10/18 Release notes added</li>
</ul>
