@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Mind Sports Olympiad Live Results";
}

<style type="text/css">
    .jmhTable {
        border: 1px black solid; 
        width: 400px; 
        margin-left: 100px
    }
    .jmhTable td {
        vertical-align: middle;
    }
    .jmhPaddedHeader {
        margin: 4px;
        display: block;
    }
    .jmhPadded {
        margin: 4px;
        display: block;
    }
</style>

<h1 class="entry-title">This is not the page you're looking for...</h1>

<p><a href="/">Back to charted territory</a></p>
