@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Mind Sports Olympiad Live Results";
}

<style type="text/css">
    .jmhTable {
        border: 1px black solid; 
        width: 400px; 
        margin-left: 100px
    }
    .jmhTable td {
        vertical-align: middle;
    }
    .jmhPaddedHeader {
        margin: 4px;
        display: block;
    }
    .jmhPadded {
        margin: 4px;
        display: block;
    }
</style>

<h1 class="entry-title">Oops! Someone's blundered...</h1>

<p>But we'll have things up and running soon.</p>
