<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoUpdaterForWPF" version="1.0.0.0" targetFramework="net45" />
  <package id="EntityFramework" version="5.0.0" targetFramework="net45" />
  <package id="Extended.Wpf.Toolkit" version="2.3" targetFramework="net45" />
  <package id="JuliaHayward.Common" version="0.1.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net45" />
  <package id="RestSharp" version="105.0.1" targetFramework="net45" />
  <package id="TrelloNet.Edge" version="0.7.2.1" targetFramework="net45" />
</packages>